/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Montserrat', sans-serif;
}

.navLogo {
    background: url(./images/logoWithText.png) no-repeat 6px center;
    width: 236px;
    height: 48px;
    display: block;
}

.navbar{
        border: none;
        border-radius: 0;
        background-color: rgba(0,0,0,0.5) !important;
}

.homeVideoContainer{
    height: 550px;
    overflow: hidden;
}

.homeMarketing{
    text-align: center;
}
